@model Kentico.Content.Web.Mvc.Routing.IPageViewModel<CMS.DocumentEngine.Types.MEDIO.About>

@{
    ViewBag.Title = Model.Page.DocumentName;
}
@addTagHelper *, Kentico.Content.Web.Mvc

@section styles
{
    <page-builder-styles />
}
@section scripts
{
    <page-builder-scripts/>
}


<section class="teaser">
		<div class="col-sm-offset-3 col-sm-4">
			<p>@Model.Page.Fields.Name</p>
			<h1>testing</h1>
		</div>
		<div class="clearfix"></div>
	</section>